.centred {
  display: block;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.height {
  height: 30px;
}

.seventyFiveWidth {
  composes: centred;
  composes: height;
  width: 75%;
}

.small {
  composes: height;
  width: 20%;
}
